HTML {
		height: 100%;
}

body {
		height: 100%;
		margin: 0;
}

#container {
		height: 100%;
}

.paren-soup {
		height: 100%;
		width: 40%;
		float: left;
}

#app {
		height: 100%;
		width: 60%;
		margin-left: 40%;
		overflow: hidden;
}
